@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.tab-link {
    padding: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
  }
  
  .tab-link.active {
    background-color: #5F2263;
    color :white;
  }
  
  .tab-content {
    display: none;
    padding: 0;
  }
  
  .tab-content.active {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .inner-tab-link {
    padding: 8px;
    background-color: #FFE7C7;
    border: none;
    cursor: pointer;
  }
  
  .inner-tab-link.active {
    background-color: #5F2263;
    color :white;
  }
  
  .inner-tab-content {
    display: none;
    padding: 10px;
  }
  
  .inner-tab-content.active {
    display: flex !important;
  }
  
  .inner-tab-content-2 {
    display: none;
    padding: 10px;
  }
  
  .inner-tab-content-2.active {
    display: flex !important;
  }

  .inner-tab-link-2 {
    padding: 8px;
    background-color: #FFE7C7;
    border: none;
    cursor: pointer;
  }
  
  .inner-tab-link-2.active {
    background-color: #5F2263 !important;
    color :white;
  }