@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.tab-link {
    padding: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
  }
  
  .tab-link.active {
    background-color: #5F2263;
    color :white;
  }
  
  .tab-content {
    display: none;
    padding: 0;
  }
  
  .tab-content.active {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .inner-tab-link {
    padding: 8px;
    background-color: #FFE7C7;
    border: none;
    cursor: pointer;
  }
  
  .inner-tab-link.active {
    background-color: #5F2263;
    color :white;
  }
  
  .inner-tab-content {
    display: none;
    padding: 10px;
  }
  
  .inner-tab-content.active {
    display: flex !important;
  }
  
  .inner-tab-content-2 {
    display: none;
    padding: 10px;
  }
  
  .inner-tab-content-2.active {
    display: flex !important;
  }

  .inner-tab-link-2 {
    padding: 8px;
    background-color: #FFE7C7;
    border: none;
    cursor: pointer;
  }
  
  .inner-tab-link-2.active {
    background-color: #5F2263 !important;
    color :white;
  }

  .bg-color {
    background-color: #5F2263;
    color :white;
  }
  
  .star {
    display: inline-block;
    width: 70px;
    height: 70px;
    cursor: pointer;
  }
  
  .star img {
    width: 100%;
    height: 100%;
  }
  .star.filled img {
    filter: invert(20%) sepia(100%) saturate(7490%) hue-rotate(50deg) brightness(105%) contrast(118%);
  }