.active {
    background-color: #5F2263;
    color: white;
}
  
.star {
    display: inline-block;
    width: 70px;
    height: 70px;
    cursor: pointer;
  }
  
  .star img {
    width: 100%;
    height: 100%;
  }
  .star.filled img {
    filter: invert(20%) sepia(100%) saturate(7490%) hue-rotate(50deg) brightness(105%) contrast(118%);
  }
.videoCss{
  width: 300px;
  border-radius: 20px;
}
.v1{
  border-left: 1px solid;
  height: 32px;
}