.active {
    background-color: #5F2263;
    color: white;
}


.table-container::-webkit-scrollbar {
    width: 10px;
  }
  
  .table-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
  }
  
  .table-container::-webkit-scrollbar-track {
    background-color: #eee;
  }